<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"> <!-- thymeleaf를 th로 사용하겠다는 의미, th 설정 -->
<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
</head>
<body>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">관리자 페이지</a>
<a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
<a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
<a th:href="@{/post}">글쓰기</a>
<br>
<br>

<!-- 검색 -->
<form action="/board/search" method="GET">
    <div>
        <input name="keyword" type="text" placeholder="검색">
    </div>

    <button>검색하기</button>
</form>

<table>
    <thread>
        <tr>
            <th>번호</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
    </thread>

    <tbody>
    <!--Contents !-->
    <tr th:each="board : ${boardList}">
        <td>
            <span th:text="${board.id}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${board.id}}">
                <span th:text="${board.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="${#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>